html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: default;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 5rem;
    margin-top: 10rem;
    box-sizing: border-box;
}

#cart-box {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 65%;
    margin-bottom: 5%;
    padding: 1.5rem;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    box-sizing: border-box;
}

.cart-element {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.625rem 0;
}

.cart-product-image {
    width: 17rem;
    height: 17rem;
    min-width: 17rem;
    margin: 1rem;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
    cursor: pointer;
}

.cart-product-image:hover {
    transform: scale(0.98);
}

.cart-product-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 0.313rem;
    margin: 0.938rem;
    font-size: 1.25rem;
}

.cart-product-name {
    line-height: 2.5rem;
    color: #003459;
    font-size: 2.2rem;
    font-weight: bold;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin: 1%;
    padding: 2%;
}

.cart-product-fieldvalue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 2px dashed rgba(0,0,0,0.3);
}

.cart-product-value {
    font-weight: bold;
}

.quantity-input {
    border: none;
    width: 4rem;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: transparent;
}

.cart-item-actions {
    display: flex;
    justify-content: center;
}

.remove-button {
    border: none;
    border-radius: 7px;
    outline: none;
    width: auto;
    padding: 0.8rem 1.5rem;
    background: #004F86;
    color: white;
    font-weight: bold;
    transition: 0.2s ease-out;
    cursor: pointer;
    white-space: nowrap;
}

.remove-button:hover {
    background: #003459;
    transform: scale(0.98);
}
.separator {
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin: 1rem 0;
}

#cart-confirm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
    gap: 0;
    border-radius: 8px;
    width: 20rem;
    border: 2px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    align-items: center;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1rem 1.25rem;
    font-size: 1.563rem;
    border-bottom: 2px dashed rgba(0,0,0,0.3);
}

#cart-total-value{
    font-size: 1.875rem;
    font-weight: bold;
}

.cart-proceed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: hidden;
    background-color: #004F86;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.cart-proceed:hover {
    background-color: rgba(0, 52, 89, 1);
    transform: scale(0.98);
}

#cart-box-empty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 17rem;
    height: 10rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.125rem;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    border-style: solid;
    border-radius: 8px;
}

#cart-box-empty-warning{
    border-bottom: 2px dashed rgba(0,0,0,0.3);
    padding-bottom: 1rem;
    width: 95%;
}

.ref{
    text-decoration: none;
    color: white;
}

@media (orientation: portrait) {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
    }

     #cart-box {
         width: 100%;
     }

    .cart-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cart-confirm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 65%;
    }

    #cart-proceed {
        width: 80%;
    }
}