html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cart-box {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 50px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.cart-element {
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: #003459;
    border-style: solid;
    margin-top: 10px;
    font-weight: normal;
}

.cart-product-image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 10px;
}

.cart-product-details {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5px;
    height: 90%;
    width: 100%;
    font-size: 20px;
}

.cart-product-name {
    align-self: start;
    margin-top: 0;
    line-height: 40px;
    width: 50%;
    color: #003459;
    font-size: 40px;
    margin-bottom: 20px;
}

.cart-product-fieldvalue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    width: 25%;
}

.cart-product-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cart-confirm {
    height: 400px;
    width: 250px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    background-color: rgba(0,0,0,0.1);
}












