html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cart-box {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 1.5rem;
    /*background-color: rgba(0,0,0,0.1); !* #000000 (black) *!*/
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    border-radius: 8px;
}

.cart-element {
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 100%;
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-weight: normal;
    transition: scale 0.2s ease-out, background-color 0.2s ease-out;
}
.cart-element:hover{
    scale: 0.98;
}

.cart-product-image {
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    border-radius: 10px;
}

.cart-product-details{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0.313rem;
    margin: 0.938rem;
    height: 90%;
    width: 100%;
    font-size: 1.25rem;
}

.cart-product-name {
    line-height: 2.5rem;
    color: #003459;
    font-size: 2.2rem;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgba(0,0,0,0.3);
    margin: 0.5rem;
    padding: 1rem;
}

.cart-product-fieldvalue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-color: rgba(0,0,0,0.3);
}

.cart-product-value {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 4rem;
    padding-right: 1rem;
    font-weight: bold;
}

#separator {
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 2px;
}

#cart-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 15.625rem;
    border-style: solid;
    border-radius: 8px;
    border-color: rgba(0,0,0,0.3);
    border-width: 2px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20%;
    padding: 1rem 1.25rem;
    font-size: 1.563rem;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-color: rgba(0,0,0,0.3);
}

#cart-total-value{
    font-size: 1.875rem;
    font-weight: bold;
}

.cart-proceed {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 2.5rem;
    width: 12.5rem;
    margin: 1.25rem;
    font-weight: bold;
    border-radius: 8px;
    border-style: hidden;
    color: white;
    background-color: rgba(0, 52, 89, 0.9);
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
    cursor: pointer;
}

.cart-proceed:hover {
    background-color: rgba(0, 52, 89, 1);
    scale: 0.98;
}

#cart-box-empty{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3.125rem;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    border-radius: 10px;
}

#cart-box-empty-warning{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}

.ref{
    text-decoration: none;
    color: black;
}