html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body.loginregister {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    background-color: #007EA7;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    min-height: 100vh;
    zoom: 0.8;
}

@supports not (zoom: 0.9) {
    body.zoom-90 {
        -moz-transform: scale(0.8);
        -moz-transform-origin: 0 0;
        width: 111.111%;
    }
}

#content {
    position: relative;
    margin: auto;
}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    transition: 0.2s ease-out;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 100%;
    font-size: 2.5rem;
    border-style: hidden;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    box-shadow: 1.25rem 1.25rem 3.125rem 0.625rem #000000;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
    z-index: 1;
}

fieldset h2 {
    align-content: center;
    color: #003459;
}

.divauth {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    height: 6.25rem;
    width: 23.438rem;
    color: #003459;
    transition-property: scale;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    border-radius: 0.625rem;
}

.divauth:hover {
    scale: 0.98;
}

.divauth:active {
    scale: 0.95;
}

.reg {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.4s ease;
}

/*#divnamesurname{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    width: 23.438rem;*/
/*}*/

/*#name{*/
/*    width: 85%;*/
/*}*/

/*#surname{*/
/*    width: 85%;*/
/*}*/

#divemail {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease;
}

#divemail.open {
    max-height: 12.5rem;
    opacity: 1;
    transition: scale 0.2s, max-height 0.5s ease-in-out, opacity
}

#divusername {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease;
}

#divusername.open{
    max-height: 12.5rem;
    opacity: 1;
    transition: scale 0.2s, max-height 0.5s ease-in-out, opacity
}

.open{
    max-height: 12.5rem;
    opacity: 1;
    transition: scale 0.2s, max-height 0.5s ease-in, opacity 0.3s ease;
}

#usermailswitch {
    max-height: 0;
    max-width: 12.5rem;
    opacity: 0;
    color: #000000;
    font-size: 0.875rem;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    border-radius: 0.625rem;
    transition: scale 0.2s, max-height 0.5s ease, opacity 0.4s ease, margin-top 0.5s ease;
}

#usermailswitch.open{
    max-height: 2.5rem;
    margin-top: 1.25rem;
    opacity: 1;
    transition: scale 0.2s, max-height 0.5s ease-in, opacity 0.3s ease, margin-top 0.5s ease;
}

.reg.open:hover {
    scale: 98%;
}

.reg.open:active {
    scale: 0.95;
}

.auth {
    background-color: #E8E8E8;
    height: 2.813rem;
    /*width: 18.75rem;*/
    width: 100%;
    font-size: 0.938rem;
    font-weight: bold;
    border-style: hidden;
    border-radius: 0.625rem;
    outline: none;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

#role-table {
    max-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.625rem;
    width: 10rem;
    padding: 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    scale: 1;
    transition: scale 0.2s ease, background-color 0.1s ease, max-height 0.5s ease, opacity 0.4s ease, padding 0.5s ease, margin-bottom 0.5s ease;
}

#role-table.open{
    max-height: 100%;
    padding: 1.25rem;
    margin-bottom: 0.625rem;
    transition: scale 0.2s ease, background-color 0.1s ease, max-height 0.5s ease, opacity 0.4s ease, padding 0.5s ease, margin-bottom 0.5s ease;
}

#role-table:hover{
    background-color: rgba(0,0,0,0.2); /* #000000 (black) */
    scale: 0.98;
}

.roleselection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s, max-height 0.5s ease, opacity 0.4s ease, margin-top 0.5s ease, margin-bottom 0.5s ease;
}
.roleselection.open{
    max-height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    transition: scale 0.2s, max-height 0.5s ease, opacity 0.4s ease, margin-top 0.5s ease, margin-bottom 0.5s ease;
}

#role-table .roleselection,
#role-table .roleselection label,
#role-table .roleselection input[type="radio"] {
    cursor: pointer;
}

.databutt {
    height: 2.5rem;
    width: 12.5rem;
    font-weight: bold;
    border-style: hidden;
    border-radius: 0.625rem;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
    cursor: pointer;
}

.databutt:hover {
    background-color: rgba(0,0,0,0.2); /* #000000 (black) */
    scale: 0.98;
}

.logo {
    height: 100%;
    width: 100%;
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
    border-radius: 0.625rem;
}

.logo:hover {
    background-color: rgba(255,255,255,0.1); /* #FFFFFF (white) */
    scale: 0.98;
}

.ref {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.suggestion {
    margin-top: 10%;
    text-align: center;
    padding: 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 0.625rem;
    color: #FFFFFF;
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
}

.suggestion:hover {
    /*background-color: rgba(0,0,0,0.1);*/
    scale: 0.98;
}

.logregswitch {
    cursor: pointer;
    margin-left: 1.25rem;
    background-color: #FFFFFF;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border-width: 0;
    color: #003459;
    scale: 137.5%;
    font-weight: bold;
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
}

.logregswitch:hover {
    background-color: rgba(255,255,255,0.9); /* #FFFFFF (white) */
}

#error {
    background-color: #003459;
    color: #FFFFFF;
    font-weight: bold;;
    border-radius: 0.5rem;
}