:root {
    --header-height: 3.125rem;
    --footer-height: 9.375rem;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

body#personal_area #forguest {
    display: none !important;
}

body#personal_area .menu > ul > li::after,
body#personal_area .menu > ul > li:hover::after {
    content: none;
    opacity: 0 !important;
}

#main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 2.2rem;
    margin-top: var(--header-height);
    box-sizing: border-box;
}

#left {
    flex: 0 0 auto;
    text-align: left;
    background-color: #00A8E8;
    height: 100%;
    width: 20rem;
}

#left {
    flex: 0 0 auto;
    text-align: center;
    height: 100%;
}

#right {
    flex: 0 0 auto;
    text-align: right;
    background-color: #00A8E8;
    height: 100%;
    width: 20rem;
}

