html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product-box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 100%;
    margin-top: 10rem;
    margin-bottom: 5%;
    padding: 3.125rem;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    border-radius: 8px;
}

#product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    gap: 0.5rem;
}

#product-element{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    font-weight: normal;
}

#product-image{
    height: 30rem;
    width: 30rem;
    border-radius: 8px;
}

#product-name{
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-size: 3rem;
    font-weight: bold;
    color: #003459;
    width: 80%;
    padding: 1rem;
    border-width: 2px;
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.3);
    margin-bottom: 1rem;
}

#product-description{
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-size: 1.5rem;
    width: 80%;
    padding: 1rem;
    border-width: 2px;
    border-bottom-style: dashed;
    border-color: rgba(0,0,0,0.3);
    margin-bottom: 1rem;
}

.product-fieldvalue{
    display:flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 80%;
    font-size: 1.5rem;
    border-width: 2px;
    border-bottom-style: dashed;
    border-color: rgba(0,0,0,0.3);
    padding: 1rem;
}

.product-value{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 6rem;
    font-weight: bold;
}

#quantity-input{
    border-style: hidden;
    height: 2rem;
    width: 6rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

#quantity-input:focus{
    outline: none;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 3%;
}

.product-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: hidden;
    background-color: #004F86;
    color: white;
    font-weight: bold;
    padding: 3%;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-button:hover {
    scale: 0.98;
    background-color: #003459;
}

#product-box-empty{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    width: 20rem;
    height: 15rem;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: space-around;
}

#not-existing-product-warning{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    padding-bottom: 1rem;
    border-bottom: rgba(0,0,0,0.3) dashed 2px;
}

.product-proceed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: hidden;
    background-color: #004F86;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-proceed:hover {
    scale: 0.98;
    background-color: #003459;
}

.ref{
    text-decoration: none;
    color: white;
}

@media (orientation: portrait){

    #product-element{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        font-weight: normal;
        align-items: center;
    }

    #product-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 0.5rem;
    }

    .product-buttons{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
        gap: 1rem;
        justify-content: space-evenly;
    }
}