html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product-box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3.125rem;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0,0,0,0.3);
    border-radius: 8px;
}

#product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

#product-element{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-weight: normal;
}

#product-image{
    height: 30rem;
    width: 30rem;
    border-radius: 8px;
}

#product-name{
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-size: 3rem;
    font-weight: bold;
    color: #003459;
    width: 43rem;
    padding: 1rem;
    border-width: 2px;
    border-bottom-style: solid;
    border-color: rgba(0,0,0,0.3);
    margin-bottom: 1rem;
}

#product-description{
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-size: 1.5rem;
    width: 43rem;
    padding: 1rem;
    border-width: 2px;
    border-bottom-style: dashed;
    border-color: rgba(0,0,0,0.3);
    margin-bottom: 1rem;
}

.product-fieldvalue{
    display:flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 43rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-width: 2px;
    border-bottom-style: dashed;
    border-color: rgba(0,0,0,0.3);
    padding: 1rem;
}

.product-value{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 4rem;
    padding-right: 1rem;
    font-weight: bold;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    width: 43rem;
    justify-content: space-evenly;
    padding: 1rem;
}

.product-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-style: hidden;
    background-color: #004F86;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.product-button:hover {
    scale: 0.98;
    background-color: #003459;
}

#product-box-empty{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3.125rem;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    border-radius: 10px;
}

#not-existing-product-warning{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}

.product-proceed{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 2.5rem;
    width: 12.5rem;
    margin: 1.25rem;
    font-weight: bold;
    border-style: hidden;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    transition-property: background-color, scale;
    transition-duration: 0.2s, 0.1s;
    cursor: pointer;
}

.product-proceed:hover {
    scale: 0.98;
    background-color: rgba(0,0,0,0.2);
}

.ref{
    text-decoration: none;
    color: black;
}