html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#product-box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3.125rem;
    background-color: rgba(0,0,0,0.1); /* #000000 (black) */
    border-radius: 10px;
}

#product-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

#product-element{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-weight: normal;
}

#product-image{
    height: 30rem;
    width: 30rem;
    border-radius: 10px;
    margin-right: 5rem;
    /*box-shadow: 0 0 10px 1px #000000;*/
}

#product-name{
    display:flex;
    flex-direction: row;
    justify-self: center;
    font-size: 3rem;
    font-weight: bold;
    color: #003459;
    background-color: #ffffff;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.product-fieldvalue{
    display:flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.product-value{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 10%;
    padding-right: 1rem;
    font-weight: bold;
}