:root {
    --header-height: 50px;
    --footer-height: 150px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: scroll;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00A8E7;
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    cursor: default;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /*height: 50px;*/
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.top-left, .top-right {
    display: flex;
    align-items: center;
}

.top-right {
    justify-content: center;
    gap: 20px;
}

.search {
    position: relative;
    display: inline-block;
}

#searchbar {
    width: 400px;
    height: 30px;
    border: 2px solid #003459;
    border-radius: 12px;
    padding: 5px 30px 5px 30px;
}

.lens {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #003459;
    pointer-events: none;
}

.header_icons {
    width: 35px;
    height: 35px;
}

#logo {
    width: 200px;
    height: 67px;
    margin-left: 5px;
    margin-right: 30px;
}

.menu > ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > ul > li {
    position: relative;
    margin-right: 20px;
    padding: 10px 0;
    font-weight: bold;
    color: #003459;
    cursor: pointer;
}

.menu > ul > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #003459;
    opacity: 0;
    transition: opacity 0.2s ease;
    border-radius: 10px;
}

.menu > ul > li:hover::after {
    opacity: 1;
}
.menu .submenu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 2px solid #003459;
    /*box-shadow: 2px 2px 15px 1px #003459;*/
    border-radius: 8px;
    padding: 8px 0;
    list-style: none;
    min-width: 150px;
    z-index: 500;
    scale: 97%;
    transition-property: scale, opacity;
    transition-duration: 0.2s;
}


.menu > ul > li:hover > .submenu {
    display: block;
    opacity: 100%;
    scale: 100%;
}

.menu .submenu li {
    padding: 5px 15px;
    white-space: nowrap;
    color: #003459;
    transition-duration: 0.2s;
    border-radius: 10px;
}

.menu .submenu li:hover {
    /*text-decoration: underline;*/
    background-color: rgba(0,0,0,0.1);
    scale: 95%;
}

#promo {
    color: #FF0000;
}

#promo::after {
    background-color: #FF0000;
}

.main {
    flex: 1;
    padding-top: 3.15rem;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
}

#welcome-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/fixing.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 430px;
}

.welcome-text {
    color: #FFFFFF;
    background-color: rgb(0,0,0,0.6);
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-sizing: border-box;
}

footer {
    background-color: #003459;
    color: white;
    padding: 15px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 2rem 0 3px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#bottomlogo {
    width: 300px;
    height: 100px;
}

.footer_ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 1rem;
}

.footer_ul li:not(.list-voices):not(.payments):not(.shipping):not(.socials):hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-voices {
    cursor: default;
    font-weight: bold;
}

.footer_icons {
    width: 43px;
    height: 24.2px;
    border-radius: 7px;
}

.socials_icons {
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 7px;
}

#copyright {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    text-align: center;
    margin-top: 60px;
}